.topMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .input {
    border-top: 5px solid #364453;
    position: relative;
    flex-grow: 1;

    input {
      width: 95%;
      height: 40px;
      background-color: #253241;
      border: 1px solid #364453;
      border-radius: 6px;
      margin: 8px 12px;
      padding: 8px 12px;
      color: #c9cccf;
      outline: none;
    }

    .search {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2;
      cursor: pointer;
    }
    .search:hover * {
      fill: #fff;
    }
  }
  .input:hover {
    border-top: 5px solid #bb8e34;
  }
}
