.item {
  font-family: "Montserrat", sans-serif;
  color: #798797;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  padding: 13px 28px 13px 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
img {
  margin: 0;
  padding: 0;
  padding-right: 11px;
}
.item:hover {
  cursor: pointer;
  color: #fff;
  background-color: #27ae60;

  .image *,
  .arrow * {
    fill: #fff;
  }
  .arrow {
    transform: rotate(180deg);
  }
}

.image {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.arrow {
  margin-left: 15px;
  transition: all 0.3s;
}
